[submodule "charts/orthanc"]
	path = charts/orthanc
	url = https://github.com/LavLabInfrastructure/orthanc-helm
[submodule "charts/triton"]
	path = charts/triton
	url = https://github.com/barrettMCW/triton-helm
[submodule "charts/eaglescope-helm"]
	path = charts/eaglescope-helm
	url = https://github.com/LavLabInfrastructure/eaglescope-helm.git
[submodule "charts/lut-puller"]
	path = charts/lut-puller
	url = https://github.com/LavLabInfrastructure/lut-puller.git
